.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 70px;
  padding-right: 70px;
  width: 100%;
  @media (max-width: $tab) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.container-2 {
  max-width: 1440px;
  padding-left: auto;
  padding-right: auto;

  width: 100%;
}

body {
  background: var(--bg-color);
  font-family: "HelveticaNeueCyr", sans-serif;
}
.ymaps-2-1-79-gotoymaps {
  display: none !important;
}
.ymaps-2-1-79-gototech {
  display: none !important;
}
.ymaps-2-1-79-copyright {
  display: none !important;
}
.ymaps-2-1-79-gototaxi {
  display: none !important;
}
.input:placeholder-shown {
  text-transform: uppercase;
}
.input {
  outline: none;
  background: none;
  border: none;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: var(--text-color);
  padding-bottom: 20px;
  border-bottom: 1px solid var(--text-color);
  width: 100%;
}
